.footer
  h6 Made with &#x2764;&#xFE0F;
  .icons
    img.icon-insta(src='./src/instagram.svg' alt='instagram')
    img(src='./src/facebook.svg' alt='facebook')
    img(src='./src/twitter.svg' alt='twitter')
  .copyright
    h5
      | (c) 
      a(href='#') DareFor.ME
      |  2019
