.header
  nav.navbar.navbar-light.bg-light
    a.navbar-brand(href='#')
      img(src='./src/logo.png' width='' height='30' alt='')
    a.navbar-brand.fas.fa-home(href='#')  Home
    a.navbar-brand.fas.fa-user(href='#')  About Us
    a.navbar-brand.fas.fa-hashtag(href='#')  Social
    a.navbar-brand.fab.fa-telegram-plane(href='#')  Contact Us
    .btn
      button.btn.btn-success.far.fa-question-circle(type='button')  How To Play
      button.btn.btn-danger.fas.fa-bug(type='button')  Report Problem
